:root {
    --green: #049919;
    --yellow: #fff200;
    --greenLight: rgba(4,153,25, .2);
    --grey: rgb(255, 255, 255);
    --grey50: rgba(255, 255, 255, 0.8);
}


@font-face {
    font-family: 'angie';
    src: url('/fonts/Angelina.ttf');
}


@font-face {
    font-family: 'ralewayBold';
    src: url('/fonts/Raleway-Bold.ttf');
}



@font-face {
    font-family: 'ralewayReg';
    src: url('/fonts/Raleway-Regular.ttf');
}





* {


    box-sizing: border-box;
    font-family: ralewayReg;
    



}


body {

    /* position: relative; */

    width: 100%;
    padding: 0;
    margin: 0;


    /* background: url('../public//Media/images/mainBackground.jpg'); */
    background-size: cover;
    background-repeat: no-repeat;

    text-align: center;
    display: flex;
    flex-direction: column;

}




/* for PC screens: */
@media screen and (min-width: 900px) {
    body {
        padding: 0 25%;
        /* background-color: rgb(248, 173, 173); */
    }
    
}





a {
    text-decoration: none;
    font-family: ralewayBold;
    padding: 10px 0;
    font-size: 150%;
    color: rgb(32, 32, 32);
}






h1 {
    font-family: angie;
    font-size: 5em;
    font-weight: lighter;
}


input, textarea {
    background-color: rgb(250, 244, 197);
    border: 0;
    font-size: 1.5em;
    padding: 10px;
    text-align: center;
    box-shadow: 2px 2px 2px #5d5d5d;
    width: 90%;
}



label {
    font-size: 1.5em;
}


input[type=date] {
    font-size: 1em;
}






input[type=submit] {
    background-color:var(--green);
    color: white;
    font-weight: bolder;
}




input[type=radio] {
    box-shadow: 0px 0px 0px #f20202;

}


