* {


    box-sizing: border-box;



}


body {

    width: 100%;
    padding: 0;
    margin: 0;


    /* background: url('../public//Media/images/mainBackground.jpg'); */
    background-size: cover;
    background-repeat: no-repeat;

    text-align: center;

}