.layoutWrapper {
    width: 100%;
    background-color: var(--greenLight);
}








.content {
    display: flex;
    /* background-color: rgba(128, 0, 128, 0.612); */
}



.children {
    background-color: var(--grey);
    width: 100%;
    padding: 20px;
}


.disclaimer {
    background-color: rgb(255, 0, 0);
    color: white;
    padding: 30px;
    width: 100%;
    line-height: 2;
    position: sticky;
    top: 0;
    z-index: 11;
}