.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}


.check {
  display: none;
}



.label {
  /* background: rgb(69, 69, 67); */
  cursor: pointer;
  padding: 20px;
  font-weight: 900;
  writing-mode: vertical-lr;
}


.label::before {
  content: 'III';
  background-color: var(--grey);
  padding:20px ;
  border-radius: 0px 10px 20px 30px;


}


.content {
  background: var(--green);
  position: relative;
  width: 100%;

  transition: all 1s ease-in-out;
  transform: translateX(-200%);
}



.check:checked ~ .content {
  transform: translateX(0%);

}