


.navigation {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--grey50);
    padding: 20px;
    border-radius: 0px 20px 20px 0px;


    z-index: 10;

    /* position: absolute;
    left: 0px;
    top: 0; */





}






.button {
    padding: 20px 10px;
    border: 0;
    margin: 5px 0px;
    border-radius: 15px;
    background-color: var(--green);
    color: white;
    box-shadow: 2px 2px 5px black;
    width: 100%;
}






