




.navigationWrapper {
    position: relative;

}








.navigation {
    width: 100%;



    padding: 40px 0;
    position: absolute;
    top: 0;

    transform: translateX(-150%);

    opacity: 0;

    /* background-color: "#fff200"; */
    display: flex;
    flex-direction: column;

    border-radius: 5px;
    z-index: 10;
}





.menu {
    margin-left: 20px;
}






