




.navigationWrapper {
    position: relative;

}








.navigation {
    width: 100%;



    padding: 20px 0;
    position: absolute;
    top: 0;
    left: 0;

    transform: translateX(-150%);

    background-color: rgb(247, 147, 147);
    display: flex;
    flex-direction: column;

    border-radius: 5px;
}





